
@model List<EntityApp.Models.Book>

<h2>Books</h2>
<a href="/Book/Create">Add New Book</a>
<table>
    <thead>
        <tr><th>Title</th><th>Author</th><th>Year</th></tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
            </tr>
        }
    </tbody>
</table>
